<link rel="stylesheet" type "text/css" href="css/style.css">

<form method="post" action="/confirm_toppings">
	<h3>Please select your size:</h3>

		<p><input type="radio" id="personal_pan" value="personal_pan" name="size">Personal pan</p><div class="photo">
		<img src="/img/personal_pan.jpg"></div>

		<p><input type="radio" id="medium" value="medium" name="size" checked>Medium</p>
		<div class="photo"><img src="/img/medium.jpg"></div>

		<p><input type="radio" id="large" value="large" name="size">Large</p>
		<div class="photo"><img src="/img/large.jpg"></div>

	<h3>Please select your crust style:</h3>

		<p><input  type="radio"  id="pan_crust"  value="pan_crust"  name="crust[]" checked>Pan</p>
		<div class="photo"><img src="/img/pan_crust.jpg"></div>

		<p><input  type="radio"  id="hand_tossed"  value="hand_tossed"  name="crust[]">Hand tossed</p>
		<div class="photo"><img src="/img/hand_tossed.jpg"></div>

		<p><input  type="radio"  id="thincrust"  value="thincrust"  name="crust[]">Thin 'n crispy</p>
		<div class="photo"><img src="/img/thincrust.jpg"></div>

		<p><input  type="radio"  id="stuffed_crust"  value="stuffed_crust"  name="crust[]">Original stuffed</p>
		<div class="photo"><img src="/img/stuffed_crust.JPG"></div>

		<p><input  type="radio"  id="skinny_it_up"  value="skinny_it_up"  name="crust[]">Skinny it up</p>
		<div class="photo"><img src="/img/skinny_it_up.jpg"></div>

	<h3>Please select your sauce:</h3>

		<p><input  type="radio"  id="marinara"  value="marinara"  name="sauce[]" checked>Classic marinara</p>
		<div class="photo"><img src="/img/marinara.jpg"></div>

		<p><input  type="radio"  id="crushed_tomatoo"  value="crushed_tomatoo"  name="sauce[]">Premium crushed tomato</p>
		<div class="photo"><img src="/img/crushed_tomatoo.jpg"></div>

		<p><input  type="radio"  id="alfredo-pizza-sauced"  value="alfredo-pizza-sauced" name="sauce[]">Creamy garlic parmesan</p>
		<div class="photo"><img src="/img/alfredo-pizza-sauced.jpg"></div>

		<p><input  type="radio"  id="bbq"  value="bbq"  name="sauce[]">Barbecue</p>
		<div class="photo"><img src="/img/bbq.jpg"></div>

		<p><input  type="radio"  id="buffalo_sauce"  value="buffalo_sauce"  name="sauce[]">Buffalo</p>
		<div class="photo"><img src="/img/buffalo_sauce.jpg"></div>

		<p><input  type="radio"  id="no_sauce"  value="no_sauce"  name="sauce[]">No sauce</p>
		<div class="photo"><img src="/img/no_sauce.jpg"></div>

   <h3>Please select your amount of cheese:</h3>

		<p><input  type="radio"  id="no_cheese"  value="no_cheese"  name="cheese[]">No cheese</p>
		<div class="photo"><img src="/img/no_cheese.jpg"></div>

		<p><input  type="radio"  id="light_cheese"  value="light_cheese"  name="cheese[]">Light cheese</p>
		<div class="photo"><img src="/img/light_cheese.jpg"></div>

		<p><input  type="radio"  id="regular_cheese"  value="regular_cheese"  name="cheese[]" checked>Regular cheese</p>
		<div class="photo"><img src="/img/regular_cheese.jpg"></div>

		<p><input  type="radio"  id="extra_cheese"  value="extra_cheese"  name="cheese[]">Extra cheese</p>
		<div class="photo"><img src="/img/extra_cheese.jpg"></div>

	<h3>Please select your meats:</h3>

		<p><input type="checkbox" id="pepperoni" value="pepperoni" name="meat[]">Pepperoni</p>
		<div class="photo"><img src="/img/pepperoni.jpg"></div>

		<p><input type="checkbox" id="italian_sausage" value="italian_sausage" name="meat[]">Italian sausage</p>
		<div class="photo"><img src="/img/italian_sausage.jpg"></div>

		<p><input type="checkbox" id="salami" value="salami" name="meat[]">Salami</p>
		<div class="photo"><img src="/img/salami.jpg"></div>

		<p><input type="checkbox" id="meatball_pizza" value="meatball_pizza" name="meat[]">Meatball</p>
		<div class="photo"><img src="/img/meatball_pizza.jpg"></div>

		<p><input type="checkbox" id="ham" value="ham" name="meat[]">Ham</p>
		<div class="photo"><img src="/img/ham.jpg"></div>

		<p><input type="checkbox" id="bacon" value="bacon" name="meat[]">Bacon</p>
		<div class="photo"><img src="/img/bacon.jpg"></div>

		<p><input type="checkbox" id="chicken" value="chicken" name="meat[]">Grilled chicken</p>
		<div class="photo"><img src="/img/chicken.jpg"></div>

		<p><input type="checkbox" id="beef" value="beef" name="meat[]">Beef</p>
		<div class="photo"><img src="/img/beef.jpg"></div>

		<p><input type="checkbox" id="pork" value="pork" name="meat[]">Pork</p>
		<div class="photo"><img src="/img/pork.jpg"></div>

	<h3>Please select your vegetables:</h3>

		<p><input type="checkbox" id="mushroom" value="mushroom" name="veggie[]">Mushrooms</p>
		<div class="photo"><img src="/img/mushroom.jpg"></div>

		<p><input type="checkbox" id="spinach" value="spinach" name="veggie[]">Roasted spinach</p>
		<div class="photo"><img src="/img/spinach.jpg"></div>

		<p><input type="checkbox" id="cherry_pepper" value="cherry_pepper" name="veggie[]">Peruvian cherry peppers</p>
		<div class="photo"><img src="/img/cherry_pepper.jpg"></div>

		<p><input type="checkbox" id="red_onion" value="red_onion" name="veggie[]">Red onion</p>
		<div class="photo"><img src="/img/red_onion.jpg"></div>

		<p><input type="checkbox" id="black_olive" value="black_olive" name="veggie[]">Mediterranean black olives</p>
		<div class="photo"><img src="/img/black_olive.jpg"></div>

		<p><input type="checkbox" id="green_pepper" value="green_pepper" name="veggie[]">Green bell pepper</p>
		<div class="photo"><img src="/img/green_pepper.jpg"></div>

		<p><input type="checkbox" id="banana_pepper" value="banana_pepper" name="veggie[]">Banana pepper</p>
		<div class="photo"><img src="/img/banana_pepper.jpg"></div>

		<p><input type="checkbox" id="pineapple" value="pineapple" name="veggie[]">Pineapple</p>
		<div class="photo"><img src="/img/pineapple.jpg"></div>

		<p><input type="checkbox" id="jalapeno" value="jalapeno" name="veggie[]">Jalapeno peppers</p>
		<div class="photo"><img src="/img/jalapeno.jpg"></div>

		<p><input type="checkbox" id="tomato" value="tomato" name="veggie[]">Roma tomato</p>
		<div class="photo"><img src="/img/tomato.jpg"></div>

	<input type="submit" value="Submit Order">
</form>

